ul.transition {
  display: flex;
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  list-style: none;
}

ul.transition li {
  transform: scaleY(0);
  background: gray;
  width: 20%;
}
