@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url(./base.css);
@import url(./menu.css);

:root {
  --primary-color: #f60f20;
  --secondary-color: #1b206e;
}

@media (max-width: 1068px) {
  .logo {
    margin-left: 0.5rem;
    font-style: 1.5rem;
  }

  section {
    padding: 100px 40px;
  }

  .navigation ul li a {
    font-size: 2rem;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }
}

@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr;
  }

  .services .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  section.home {
    padding: 10px;
    flex-direction: column;
  }
  .home-img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
  }

  .section {
    padding: 50px;
  }

  .home-content {
    background-color: transparent;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    z-index: 10;
    max-width: 600px;
  }

  section {
    padding: 0 20px;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
